@media only screen and (min-width: 900px) {

   .navUL a, .navUL a:visited, .navUL li form button{
      font-size: 140%;
   }

   .addForm {
      max-width: 65%;
   }

   .card {
      width: 100%;
      height: 450px;
   }

   .card h4 {
      height: 50px;
   }

   .btn {
      font-size: 130%;
      margin-bottom: 3%;
   }
   a.btn {
      width: 75%;
   }

   .cards img {
      margin-top: 3%;
      width: 60%;
      height: 60%;
   }

   .detailsImg {
      max-width: 30%;
   }

   .cards {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 25px;
      row-gap: 25px;
   }

   .order-items {
      width: 40%;
   }

   .order-container {
      width: 40%;
   }

   .shoppingCartIcon {
      position: absolute;
      top: 50px;
      right:20px;
      width: 40px;
   }
}

@media only screen and (min-width: 1200px)  {
   .card {
      width: 100%;
      height: 500px;
   }

   a.btn {
      width: 50%;
      margin-left: 20%;
   }

   .cards img {
      width: 50%;
      height: 60%;
   }

   .order-main h1 {
      padding: 1%
   }

   .order-container {
      width: 30%;
   }
}