@media only screen and (min-width: 600px) {
   .navUL li {
      padding: 0;
   }

   .cards {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }

   .addForm {
      margin: 0 auto;
      max-width: 75%;
   }
}