@media only screen and (min-width: 600px) {
   .navUL li {
      padding: 0;
   }

   
nav {
   margin: 0 auto;
	max-width: 100%;
	background-color: #3a3a3a;
   padding: 0;
}
.navUL {
   text-decoration: none;
   list-style-type: none;
   display: flex;
   align-items: center;
   text-align: center;
   flex: 1 0 100%;
   justify-content: center;
   background-color: #beefef;
   padding: 0% 1% 0% 1%;
}

.navUL li {
   padding: 0% 1% 0% 1%;
   flex: 1 0 100px;
    margin-right: 10px;
    text-align: center;
}

.navUL li:last-child {
   margin-right: 0px;
}

.navUL a, .navUL a:visited{
   font-family: "Righteous", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-decoration: none;
   color: #172a3a;
   font-size: 125%;
   border: none;
}

   .cards {
      grid-template-columns: 1fr 1fr 1fr;
   }

   .card {
      height: 390px;
   }

   button.btn {
      margin-right: 5%;
   }

   .detailsImg {
      max-width: 40%;
   }

   .addForm {
      margin: 0 auto;
      max-width: 75%;
   }

   .orderButton {
      padding: 1%;
   }

   .orders {
      justify-items: center;
   }

   .order-container {
      width: 50%;
   }

  
}