@media only screen and (min-width: 600px) {
   .navUL li {
      padding: 0;
   }

   .cards {
      grid-template-columns: 1fr 1fr;
   }

   .detailsImg {
      max-width: 40%;
   }

   .addForm {
      margin: 0 auto;
      max-width: 75%;
   }

   .orderButton {
      padding: 1%;
   }

   .orders {
      justify-items: center;
   }

   .order-container {
      width: 50%;
   }

  
}