@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Righteous&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@300&family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Tangerine&family=Cinzel&family=Noto+Serif+Display:ital,wght@0,300;1,400&display=swap');
/*******************
    Global CSS 
*******************/
*, .html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   max-width: 100%;
}

*, *:before, *:after{
 box-sizing: inherit;
}

/********************
  Navigation Styles 

Nav Bar built from tutorial
found at: https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci
********************/

li {
   list-style: none;
}

a {
   text-decoration: none;
}

.header {
   font-family: "Arapey", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-bottom: 1px solid #E2E8F0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #475569;
}

button.nav-link[type=submit] {
   background: none !important;
   border: red;
   border-radius: 10%;
   color: #475569;
   cursor: pointer;
   font-family: inherit;
}

.nav-link:hover{
  color: #482ff7;
}

.nav-logo, .nav-logo:visited {
  font-size: 2.1rem;
  font-weight: 500;
  color: black;
}

.nav-menu {
   
      position: fixed;
      left: -100%;
      top: 4rem;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
         0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
      left: 0;
}

.nav-item {
      margin: 2.5rem 0;
}

.hamburger {
      display: block;
      cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
   opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
   transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
   transform: translateY(-8px) rotate(-45deg);
}

/***********
 Home Page 
***********/
.home-page {
   background-color: black;
   padding: 0;
}

.home-motto {
   text-align: center;
   font-family: "Tangerine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 500;
   font-size: 3.5rem;
   color: #f7f919;
   padding: 5%;
}

/********************
 Fruit Display Styles
 *******************/
.displayHeading {
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 3rem;
   text-align: center;
   font-family: "Tangerine", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 500;
}

.cardSection {
   text-align: center;
}

.cardLinks, .cardLinks:visited {
   text-decoration: none;
   color: #172a3a
}

.cards {
   display: grid;
   grid-template-columns: 1fr;
   margin: 0 auto;
}

.cards img {
   width: 75%;
   border-radius: 10px;
   box-shadow: #172a3a 0px 3px 6px 3px;
}

.card .grid-container {
   display: grid;
   grid-template-columns: auto auto;
   width: 75%;
   margin: 0 auto;
   padding: 0%;
   
}

.card .grid-container .editButton {
   text-decoration: none;
   font-size: 1.2rem;
   font-family: inherit;
   border: 1px #172a3a solid;
   padding: 0.5%;
   color: white;
   background-color: #172a3a;
   width: 110%;
   margin: 0 auto;
   padding-left: 1%;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   box-shadow: #172a3a 0px 4px 7px 0px;
}

.card .grid-container .addToCartButton[type=submit] {
   border: #172a3a 1px solid;
   cursor: pointer;
   color: white;
   font-family: inherit;
   font-size: 1.2rem;
   padding: 0.5%;
   width: 95%;
   background: #172a3a;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   box-shadow: #172a3a 0px 4px 7px 0px;
}

.grid-container .displayForm {
   margin: 0;
   padding: 0;
}

.card {
   padding-bottom: 10%;
   width: 75%;
   justify-self: center;
   margin-bottom: 2%;
}

.bookCards, .bookCards h4 {
   font-family: "Arapey" , Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 300;
   font-size: 1.5rem;
}

.bookCards h4 {
   padding-top: 2%;
}

.cards h5 {
   font-weight: 800;
   font-size: 120%;
   padding-bottom: 3%;
}

.notFound {
   font-family: inherit;
   text-align: center;
   padding: 1% 0% 1% 0%;
   font-size: 110%;
   font-weight: 700;
}

.detailsImg {
   max-width: 50%;
}

.notFoundDog {
   width: 30%;
}

/********************
     Form Styles 
********************/
.form-heading {
   text-align: center;
   padding: 4%;
   font-size: 2.5rem;
   font-family: "Arapey", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 300;
}

.form-div {
   text-align: center;
}

.form-container input, .form-container textarea {
   font-family: inherit;
   text-align: left;
   width: 20%;
   font-size: 1.2rem;
}

.form-container textarea {
   resize: none;
}

.form-container label {
   font-family: "Arapey", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1.5rem;
   display: inline-block;
   width: 200px;
   text-align: left;
   padding-top:1.5%;
}

.form-container button[type=submit] {
   padding: 1%;
   font-family: inherit;
   font-size: 1rem;
   background-color: #172a3a;
   color: #E2E8F0;
   margin-bottom: 5%;
}
.errorMessage {
   text-align: center;
   font-family: "Arapey", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1.5rem;
   color: red;
}

.form-container input.invalid,
.form-container textarea.invalid {
   border-color:red;
   border-width: 2px;
}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.editButton {
   display: block;
}

.resetPasswordButton, .resetPasswordButton:visited {
   text-decoration: none;
   color: white;
   background-color: #172a3a;
   padding: 1% 2% 1% 2%;
}

/****************
     Cart
****************/

.order-items-grid {
   display: grid;
   grid-template-columns: 1fr;
   list-style-type: none;
   row-gap: 25px;
   justify-items: center;
}

.cart-main h1 {
   text-align: center;
   margin: 0 auto;
}

.cart-main {
   padding-left: 5%;
   padding-right: 5%;
   font-family: "Arapey", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1.5rem;
}

.order-items {
   border: 5px double black;
   padding: 1%;
   width: 50%;
   text-align: center;
}

.cartDeleteButton {
   border: 1px darkred;
   background-color: darkred;
   color: white;
   padding: 2%;
   margin-top: 2%;
}

.orderButton-container {
   display: flex;
   justify-content: center;
}

.orderButton {
   background-color: lightgreen;
   padding: 2%;
   margin-top: 2%;
}

/***********
  Orders
***********/
.order-main {
   padding: 0% 5% 0% 5%;
   font-family: "Arapey", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-weight: 300;
   text-align: center;
}

.order-main h1 {
   padding: 2%;
}

.order-list {
   list-style-type: circle;
   list-style-position: inside;
   text-align: left;
   padding-left: 4%;
   font-family: inherit;
   font-weight:  inherit;
}

.order-container {
   border: 2px black solid;
   list-style-type: none;
   font-family: inherit;
   font-size:120%;
   font-weight: inherit;
}

.orders {
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 10px;
}

.orders h2 {
   font-size: 120%;
}

.cartOrderLink {
   text-decoration: none;
   color: darkblue;
}

/* Footer Styles */
footer {
   text-align: center;
   font-family: "DM Serif Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 1px;
   background-color: #172a3a;
   color: whitesmoke;
   padding: 3% 0% 3% 0%;
}