@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Righteous&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@300&family=Merienda&display=swap');

/* General Template CSS */
*, .html {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   max-width: 100%;
}

*, *:before, *:after{
 box-sizing: inherit;
}

main {
   font-family: "Merienda", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 0;
   padding-bottom: 5%;
   margin: 0 auto;
   background-color: lightgrey;
   text-align: center;
}

/* Header Styles */
header {
   font-family: "Righteous", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 2px;
   text-align: center;
   background-color: #172a3a;
   padding: 2% 0% 2% 0%;
}

.mainHeadText {
   font-family: inherit;
   text-align: inherit;
   color: #beefef;
}

.secondHeadText {
   font-family: inherit;
   color: #beefef;
   text-align: inherit;
}

/* Navigation Styles */


nav {
	margin: 0 auto;
	max-width: 100%;
   background-color: #3a3a3a;
}

.nav-bar {
   display: flex;
   flex-direction: column;
}

.navUL {
   list-style-type: none;
   margin: 0;
   padding: 0;
   background-color: #beefef;
}

nav ul li {
   display: inline;
   
}

nav ul li a, nav ul li a:visited {
   font-family: "Righteous", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   color: white;
   display: block;
   color: #172a3a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid black;
  font-size: 115%;
}

/* Home Page Styles */ 
.homeHeading {
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 140%;
   text-align: center;
}


.homeNotice {
   padding: 5%;
   margin: 0 auto;
   border: 2px black solid;
   text-align: center;
   width: 50%;
   background-color: #172a3a;
   color: #beefef;
}

/* Book Display Styles */
.bookHeading {
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 140%;
   text-align: center;
}

.cardSection {
   text-align: center;
}

.cardLinks, .cardLinks:visited {
   text-decoration: none;
   color: #172a3a
}

.cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 15px;
   column-gap: 15px;
   padding-left: 5%;
   padding-right: 5%;
   column-gap: 25px;
}

.cards img {
   margin-top: 10%;
   width: 70%;
   height: 50%;
   object-fit: fill;
   overflow: hidden;
   border: 5px #172a3a inset;
}

.card {
   border: 2px black solid;
   box-shadow: 1px 1px 4.5px 4.5px #172a3a;
   height: 360px;
}

.bookCards {
   list-style-type: none; 
}

.cards h4 {
   font-weight: 800;
   font-size: 120%;
   height: 70px;
}

.cards h5 {
   font-weight: 800;
   font-size: 150%;
   padding-bottom: 3%;
}

.btn {
   display: inline;
   padding: 0rem 0.2rem;
   text-decoration: none;
   font: inherit;
   font-family: "DM Serif Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   border: 1px solid black;
   color: #172a3a;
   background: lightskyblue;
   border-radius: 3px;
   cursor: pointer;
 }

 a.btn {
    width: 75%;
    margin-left: 8%;
 }

.notFound {
   font-family: inherit;
   text-align: center;
   padding: 1% 0% 1% 0%;
   font-size: 110%;
   font-weight: 700;
}

.detailsImg {
   max-width: 50%;
}

.notFoundDog {
   width: 30%;
}

/*Add Product Styles */
.add-productHeading, .del-productHeading {
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 140%;
   text-align: center;
}

.addProdForm, .delForm {
   display: block;
}

.addProdForm label, .delForm label {
   display: inline-block;
   width: 200px;
   text-align: left;
   padding-top:1.5%;
}

.addProdForm input, .addProdForm textarea, .addProdForm select, .delProdForm input, .delProdForm select{
   font-family: inherit;
   text-align: left;
   width: 40%;
}

.addProdForm button, .delProdForm button {
   font-family: inherit;
   width: 20%;
}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.editButton {
   display: block;
}

.order-items-grid {
   display: grid;
   grid-template-columns: 1fr;
   list-style-type: none;
   row-gap: 25px;
   justify-items: center;
}

.cart-main h1 {
   padding: 3%;
}

.cart-main {
   padding-left: 5%;
   padding-right: 5%;
   font-family: "DM Serif Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 120%;
}

.order-items {
   border: 5px double black;
   padding: 1%;
   width: 50%;
}

.cartDeleteButton {
   border: 1px darkred;
   background-color: darkred;
   color: white;
   padding: 2%;
   margin-top: 2%;
}

.orderButton {
   background-color: lightgreen;
   padding: 2%;
   margin-top: 2%;
}

.order-main {
   padding: 0% 5% 0% 5%;
   font-family: "DM Serif Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.order-main h1 {
   padding: 2%;
}

.order-list {
   list-style-type: circle;
   list-style-position: inside;
   text-align: left;
   padding-left: 4%;
   font-family: inherit;
}

.order-container {
   border: 2px black solid;
   list-style-type: none;
   font-family: inherit;
   font-size:120%;
}

.orders {
   display: grid;
   grid-template-columns: 1fr;
   row-gap: 10px;
}



.orders h2 {
   font-size: 120%;
} 

.shoppingCartIcon {
   position: absolute;
   top: 50px;
   right:15px;
   width: 30px;
}

.cartOrderLink {
   text-decoration: none;
   color: darkblue;
}

/* Footer Styles */
footer {
   text-align: center;
   font-family: "DM Serif Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 1px;
   background-color: #172a3a;
   color: whitesmoke;
   padding: 3% 0% 3% 0%;
}