@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Righteous&family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Sans:wght@300&family=Merienda&display=swap');

/* General Template CSS */
*, .html {
   margin: 0;
   padding: 0;
   width: 100%;
}

main {
   font-family: "Merienda", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 0;
   padding-bottom: 5%;
   margin: 0 auto;
   background-color: lightgrey;
   text-align: center;
}

/* Header Styles */
header {
   font-family: "Righteous", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 2px;
   text-align: center;
   background-color: #172a3a;
   padding: 2% 0% 2% 0%;
}

.mainHeadText {
   font-family: inherit;
   text-align: inherit;
   color: #beefef;
}

.secondHeadText {
   font-family: inherit;
   color: #beefef;
   text-align: inherit;
}

/* Navigation Styles */
.navUL {
   text-decoration: none;
   list-style-type: none;
   display: flex;
   text-align: center;
   background-color: #beeeff;
}

.navUL li {
   padding: 1% 0% 1% 0%;
}

.navUL a, .navUL a:visited{
   font-family: "Righteous", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   text-decoration: none;
   color: #172a3a;
   font-size: 110%;
}

/* Home Page Styles */ 
.homeHeading {
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 140%;
   text-align: center;
}


.homeNotice {
   padding: 5%;
   margin: 0 auto;
   border: 2px black solid;
   text-align: center;
   width: 50%;
   background-color: #172a3a;
   color: #beefef;
}

/* Book Display Styles */
.bookHeading {
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 140%;
   text-align: center;
}

.cardSection {
   text-align: center;
}

.cards {
   display: grid;
   grid-template-columns: auto auto;
}

.bookCards {
   list-style-type: none;
   padding: 2% 0% 2% 0%; 
}

.notFound {
   font-family: inherit;
   text-align: center;
   padding: 1% 0% 1% 0%;
   font-size: 110%;
   font-weight: 700;
}

.notFoundDog {
   width: 30%;
}

/*Add Product Styles */
.add-productHeading {
   padding-top: 3%;
   padding-bottom: 2%;
   font-size: 140%;
   text-align: center;
}

.addProdForm {
   text-align: center;
}

.addProdForm input {
   font-family: inherit;
   text-align: center;
   width: 40%;
}

.addProdForm button {
   font-family: inherit;
   width: 20%;
}

/* Footer Styles */
footer {
   text-align: center;
   font-family: "DM Serif Display", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   letter-spacing: 1px;
   background-color: #172a3a;
   color: whitesmoke;
   padding: 3% 0% 3% 0%;
}