</main>
<script src="scripts.js"></script>
</body>
<footer>
   <% const date = new Date(); %>
   <% const year = date.getFullYear(); %>
      <p>&#169; CSE341 Web Backend Development II | Mikhail Cedras | <%= year %></p> 
</footer>
</html>