<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= pageTitle %></title>

   <link  rel="stylesheet" href="/small.css">
   <link  rel="stylesheet" href="/medium.css">
   <link  rel="stylesheet" href="/large.css">

</head>
<body>
<header class="nav-header">
   <nav class="navbar">
      <a href="/" class="nav-logo">Fruits | Node.js</a>
      <ul class="nav-menu">   
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/display" class="nav-link">All Fruits</a></li>
            <% if (!isAuthenticated) { %>
               <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
               <li class="nav-item"><a href="/sign-up" class="nav-link">Sign Up</a></li>
               <% } %> 
         <% if (isAuthenticated) { %> 
            <li class="nav-item"><a href="/add-product" class="nav-link">Add Fruit</a></li>
            <li class="nav-item"><a href="/admin-products" class="nav-link">Fruits Admin</a></li>
         <% } %> 
           
            <% if(isAuthenticated) { %> 
               <li  class="nav-item"><a href ="/cart" class="nav-link">My Cart</a></li>
               <li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>

            <li class="nav-item">
               <form action="/logout" method="post" >
                  <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                  <button type="submit" class="nav-link">Logout</button>
               </form>
            </li>
            <% } %> 
      </ul>
      <div class="hamburger">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
     </div>
   </nav>
</header>
