<nav>
   <ul class="navUL">   
         <li><a href="/">Home</a></li>
         <li><a href="/display">All Fruits</a></li>
         <li><a href="/add-product">Add Fruit</a></li>
         <li><a href="/del-product">Delete Fruit</a></li>
   </ul>
</nav>