<%- include('includes/head.ejs') %>
</head>

<body>
    <h1 class="errorStatus">Some error occurred...</h1>
    <h2 class="errorStatus">We're working on fixing this, sorry for the inconvenience.</h2>

<%- include('includes/footer.ejs') %>