<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3>Add Product</h3>

   <form action="/add-item" method="POST">
      <input type="text" name="title">
      <button type="submit">Add Book</button>
  </form>

  <%- include('includes/footer.ejs') %>