<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3 class="add-productHeading">Add Fruit</h3>

   <div class="addForm">
     <form class="addProdForm" action="/add-item" method="POST">
      <label for"name">Fruit Name: </label>
      <input type="text" name="name"/><br>
      <label for"imageUrl">Image URL: </label>
      <input type="text" name="imageUrl"/><br>
      <label for"description">Fruit Description: </label>
      <textarea name="description" rows="1" cols="4"></textarea><br>
      <label for"origin">Country of Origin: </label>
      <input type="text" name="origin"><br>
      <label for"price">Fruit Price: </label>
      <input type="number" name="price" min="0.00" step="any"/><br><br>
      <button type="submit">Add Fruit</button>
  </form>
  </div>
  

  <%- include('includes/footer.ejs') %>