<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3 class="add-productHeading">Add Product</h3>

   <form class="addProdForm" action="/add-item" method="POST">
      <label for"title">Book Title: </label>
      <input type="text" name="title">
      <button type="submit">Add Book</button>
  </form>

  <%- include('includes/footer.ejs') %>