<%- include('includes/head.ejs'); %>
<%- include('includes/nav.ejs'); %>
  <img class="homeBanner" src="bookbanner.jpg" alt="Book Library Image">
   <h3 class="homeHeading">NodeJS Home</h3>
   <p class="homeNotice">Watch this space for upcoming events! Feel Free to check out our other content!</p>
<%- include ('includes/footer.ejs'); %>