<%- include('includes/head.ejs'); %>
<%- include('includes/nav.ejs'); %>

   <h3 class="bookHeading">Books Display</h3>

   <br><br>
   <% if (books.length > 0)  { %>
     <% for (let book of books) { %>
         <li><%= book %></li>
    <% } } else { %>
         <p>No Books to Display</p> 
         <% }; %>

<%- include ('includes/footer.ejs'); %>