<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
   <h3 class="add-productHeading">Add Fruit</h3>
   <div class="addForm">
     <form class="addProdForm" action="/login" method="POST">
      <label for"email">Email: </label>
      <input type="email" name="email"><br>
      <label for"passwd">Image URL: </label>
      <input type="password" name="passwd"/><br>
      <br><button type="submit">Login</button>
  </form>
  </div>
  

  <%- include('includes/footer.ejs') %>